@use 'colors.scss' as *;
@use 'fonts.scss' as *;
@use 'constants.scss' as *;

.main {
    @include colorWithShadow(input);
    display: block;
    position: absolute;
    z-index: 1000;
    height: auto;
}

.item {
    @include colorInteractiveControl;
    @include fontThin;
    display: grid;
    position: relative;
    user-select: none;
    grid-template-columns: $iconSmallSize auto;
    gap: 5px;
    padding: 2.5px 15px 2.5px 2px;
    height: 26px;

    & > svg {
        width: $iconSmallSize;
        height: $iconSmallSize;
    }

    & > svg, span {
        pointer-events: none;
    }

    &[data=content] {
        &:after {
            position: absolute;
            right: -3px;
            top: calc(50% - 5px);
            border-color: transparent transparent transparent colorInGroup(input, border);
            border-width: 5px;
            border-style: solid;
            content: " ";
        }

        &:hover > div { 
            visibility: visible; 
        }
    }

    &[data=hide] {
        display: none;
    }
}

.content {
    @include colorWithShadow(input);
    position: absolute;
    visibility: hidden;
    display: block;
    width: max-content;
    height: max-content;
    left: 100%;
}
