@use 'fonts.scss' as *;
@use 'colors.scss' as *;
@use 'prefabs.scss' as *;
@use 'constants.scss' as *;

.circular-center {
    display: grid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.fill {
    width: 100%;
    height: 100%;
    flex: 1;
}

.fill-height { 
    height: 100%; 
}

.fill-width { 
    width: 100%; 
}

.flex {
    display: flex;
    flex: 1;
}

.flex-end {
    justify-self: flex-end;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical-flex {
    display: flex;
    align-items: center;
}

.center-horizontal-flex {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-left {
    justify-self: left;
    margin-right: auto;
}

.justify-right {
    justify-self: right;
    margin-left: auto;
}

.justify-flex-end {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto-x {
    overflow-x: auto;
}

.overflow-auto-y {
    overflow-y: auto;
}

.color-by-type {
    @include colorByType;
}

.color-by-rarity {
    @include colorByRarity;
}

.z-0 { z-index: 0 !important; }
.z-1 { z-index: 1 !important; }
.z-2 { z-index: 2 !important; }
.z-3 { z-index: 3 !important; }
.z-4 { z-index: 4 !important; }
.z-100 { z-index: 100 !important; }
.z-200 { z-index: 200 !important; }
.z-300 { z-index: 300 !important; }

.gap-1 { gap: 1px; }
.gap-2 { gap: 2px; }
.gap-3 { gap: 3px; }
.gap-4 { gap: 4px; }
.gap-5 { gap: 5px; }

.square { 
    aspect-ratio: 1 / 1; 
}

a > .square {
    aspect-ratio: 1 / 1; 
}

.icon {
    @extend .center-flex;
    height: $iconNormalSize !important;
    width: $iconNormalSize !important;
    margin: auto;

    & > svg {
        width: 100%;
        height: 100%;
    }
}

.small-icon {
    @extend .center-flex;
    height: $iconSmallSize !important;
    width: $iconSmallSize !important;
    margin: auto;

    & > svg {
        width: 100%;
        height: 100%;
    }
}

.mobile-hide {
    visibility: visible;
    @include mobile {
        visibility: hidden;
        display: none;
    }
}

.mobile-show {
    visibility: hidden;
    @include mobile {
        visibility: visible;
    }
}

.label-xl {
    width: $labelExtraLargeWidth;
}

.color-main { @include colorBackground('main'); }
.color-main-shadow { @include colorWithShadow('main'); }
.color-second { @include colorBackground('second'); }
.color-second-shadow { @include colorWithShadow('second'); }
.color-input-shadow { @include colorWithShadow('input'); }
.color-interactive { @include colorInteractive; }
.color-interactive-shadow { @include colorInteractiveWithShadow; }

.margin-none { margin: 0; }
.margin-small { margin: 2px; }
.margin-medium { margin: 5px; }
.margin-large { margin: 10px; }

.padding-small { padding: 2px; }
.padding-medium { padding: 5px; }
.padding-large { padding: 10px; }

.no-line-break { @include fontNoLineBreak; }
.font-normal { @include fontNormal; }
.font-larger { font-size: larger; }
.font-medium { font-size: medium; }
.font-smaller { font-size: smaller; }
.font-bold { font-weight: bold; }
.font-thin { font-weight: 100; }
.font-h1 { @include fontHeader1; }
.font-h2 { @include fontHeader2; }
.font-h3 { @include fontHeader3; }

#continueButton {
    & > div {
        background-image: url('https://utfs.io/f/zMULclXHF285X3XgMph590X7VxLA64HQiWGqsTBhElDCkSUp'), url('https://utfs.io/f/zMULclXHF285X3XgMph590X7VxLA64HQiWGqsTBhElDCkSUp');
        background-position: left, right;
        background-size: 100%, auto;
    }
}

#storiesButton {
    & > div {
        background-image: url('https://utfs.io/f/zMULclXHF285X3XgMph590X7VxLA64HQiWGqsTBhElDCkSUp');
        background-size: contain;
    }
}

#galleryButton {
    & > div {
        background-image: url('https://utfs.io/f/zMULclXHF285M0BB54lMKrnszTPWUkIS2RiAGE3hgBb1QNL9');
        background-position: left, center, right;
        background-size: auto 100%;
    }
}

#mapButton {
    & > div {
        background-image: url('https://utfs.io/f/zMULclXHF285RarQaaJ4sZPU5Ah4B1eJkbgIujNlT90OCEKw'), url('https://utfs.io/f/zMULclXHF285D9KCiO75wvxifrpoUNRm5kslECYtT2uHgnd1');
        background-position: left, right;
        background-size: auto 100%;
        background-repeat: no-repeat, repeat-x;
    }
}
