$pageWidth: 8.5in; /* A4 */
$pageHeight: 14in; /* A4 */
$pageHeaderHeight: 40px;
$menuHeaderHeight: 65px;
$menuItemHeaderHeight: 35px;
$menuItemHeight: 45px;
$smallMenuWidth: 450px;
$smallMenuHeight: 150px;
$smallMenuItemHeight: 18px;
$largeButtonHeight: 40px;
$smallButtonWidth: 80px;
$iconSmallSize: 22px;
$iconNormalSize: 32px;
$iconLargeSize: 64px;
$scrollBarWidth: 14px;
$labelWidth: 120px;
$labelLargeWidth: 160px;
$labelExtraLargeWidth: 220px;
$controlWidth: 200px;
$bottomViewMargin: 200px;

// Platform
$mobile-width: 360px;
$mobile-smallMenuWidth: 240px;
$mobile-labelWidth: 100px;

$desktop-width: 1080px;
$desktop-smallWidth: 512px;
