@use 'colors.scss' as *;
@use 'fonts.scss' as *;
@use 'constants.scss' as *;
@use 'prefabs.scss' as *;

.main {
    @include colorWithShadow(main);
    display: flex;
    position: sticky;
    flex-direction: row-reverse;
    height: $pageHeaderHeight;
    gap: 1px;
    z-index: 100;
}

.header {
    @include fontHeaderPage;
    @include centerGrid;
    grid-template-columns: $pageHeaderHeight minmax(0, 1fr);
    margin-right: auto;
    height: 100%;
}
