@use 'colors.scss' as *;
@use 'constants.scss' as *;
@use 'prefabs.scss' as *;
@use 'fonts.scss' as *;

.input {
    @include colorBackground(input);
    display: flex;
    min-width: 0;
    border: none;
    outline: none;
    font: inherit;
    padding: 0 5px;
    flex: 1 0;

    &[data=highlight] {
        filter: brightness(120%);
    }

    &[data=template] {
        color: color(syntax-variable)
    }
}

.dropdown {
    @include colorBackground(input);
    display: flex;
    min-width: 0;
    border: none;
    outline: none;
    font: inherit;
    padding: 0 5px;
}
