@use 'colors.scss' as *;
@use 'fonts.scss' as *;
@use 'constants.scss' as *;
@use 'prefabs.scss' as *;

$iconPadding: 2px;

.card {
    @include colorInteractiveInnerControl;
    @include colorShadow(second);
    @include colorDecoration(second);
    overflow: hidden;

    & > svg {
        color: inherit;
        place-self: center;
        height: $iconLargeSize;
        width: $iconLargeSize;
    }
}

.label {
    @include colorWithShadow(main);
    @include fontNoLineBreak;
    @include fontBold;
    @include centerFlex;
    height: $menuItemHeaderHeight;
}

.content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    overflow: hidden;
    gap: 5px;
    height: 3 * $menuItemHeight - $iconNormalSize;
    margin: $iconPadding $iconPadding + 5px;
}

.description {
    overflow: hidden;

    & > div {
        display: -webkit-box;
        overflow: hidden;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-width: 100%;
    }
}

.bottomBar {
    display: flex;
    height: $iconNormalSize + $iconPadding;
    align-items: center;
    gap: 2 * $iconPadding;
    margin-top: auto;

    & > * {
        user-select: none;
    }
}

.confirmationDialog {
    #confirmation-button-positive {
        flex: 1;
        color: color('good');
    }
    #confirmation-button-negative {
        flex: 1;
        color: color('bad');
    }
}
