@use 'colors.scss' as *;
@use 'prefabs.scss' as *;

select {
    @include colorBackground(input);
    @include colorInteractiveControl;
    @include scroll;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
}
