@import 'styles/colors.scss';
@import 'styles/prefabs.scss';

select {
    @include colorBackground(input);
    @include colorInteractiveControl;
    @include scroll;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
}
